* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #33475b;
}

a {
  text-decoration: none;
  color: black;
}

h4 {
  text-transform: uppercase;
}

/* /regole generali */

/* classi riutilizzabili */


.container {
  width: 80%;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.get-free {
  padding: 10px 13px;
  margin-left: 10px;
  border: 1px solid #ff7a59;
  border-radius: 5px;
  background-color: #ff7a59;
  color: white;
}

/* /classi riutilizzabili */


header {
  height: 750px;
  width: 100%;
  background-color: #fff2ee;
  background-image: url("../img/jumbotron.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  position: relative;
}

header::before {
  width: 100%;
  height: 80px;
  background-color: #6edbcd;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  color: blue;
}

/* barra di navigazione */

.nav {
  display: unset;
}

.nav-top {
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid black;
  background-color: white;
}

.nav-bottom {
  height: 80px;
  width: 100%;
  margin-top: 80px;
  background-color: white;
  /* position: sticky; */
  /* z-index: 1; */
  /* top: 0; */
}

.nav-top-left {
  height: 100%;
  width: 50%;
  line-height: 80px;
}

.language {
  border-right: 1px solid black;
  padding-left: 5px;
  padding-right: 20px;
  margin-right: 20px;
}

.nav-top-right {
  height: 100%;
  width: 50%;
  line-height: 80px;
  text-align: right;
}

.nav-top-right a {
  padding: 10px 13px;
  margin-left: 20px;
  border: 1px solid #ff7a59;
  border-radius: 5px;
}

.nav-top-right i {
  color: #10acc4;
}

.login {
  color: #ff7a59;
}

.nav-bottom-left {
  height: 100%;
  width: 50%;
  line-height: 80px;
}

.nav-bottom-right {
  height: 100%;
  width: 50%;
  line-height: 80px;
}

.nav-bottom-right ul {
  list-style-type: none;
  text-align: right;
}

.nav-bottom-right ul li {
  display: inline-block;
}

.nav-bottom-right ul li a i {
  margin-left: 15px;
  margin-right: 20px;
}


.title {
  width: 40%;
  margin-top: 100px;
}

.title h1 {
  font-size: 45px;
  margin-bottom: 20px;
}

.title p {
  font-size: 13px;
  line-height: 25px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.nav-bottom-left img {
  margin-top: 30px;
}

/* /barra di navogazione */

main {
  background-color: #f5f8fa;
}

.section-one {
  height: 400px;
  width: 100%;
  position: relative;
}

.box-sec-one {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 1.6;
}

.section-one img {
  width: 40%;
}

.section-two {
  height: 400px;
  width: 100%;
  margin-bottom: 5%;
  background-color: white;
}

.section-two-left {
  width: 40%;
  height: 100%;
  text-align: center;
  position: relative;
}

.section-two-left .box-position {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.section-two-left .box-position .box-img img {
  width: 50%;
  margin-bottom: 20px;
}

.learn-more {
  padding: 10px 13px;
  margin-left: 10px;
  border: 1px solid #ff7a59;
  border-radius: 5px;
  background-color: #ff7a59;
  color: white;
}

.section-two-right {
  width: 60%;
  height: 100%;
  line-height: 1.6;
  position: relative;
}

.section-two-right h3 {
  margin-bottom: 20px;
}

.section-two-right p {
  margin-bottom: 20px;
}

.section-two-right .box-position span {
  margin-right: 20px;
}

.section-two-right .box-position span i {
  margin-right: 10px;
  color: #ff7a59;
}

.section-two-right .box-position {
position: absolute;
left: 0;
top: 50%;
transform: translate(0%, -50%);
}

.section-three {
  width: 100%;
}

.section-three-left {
  width: 30%;
  text-align: center;
  background-color: white;
}

.box {
  padding: 10%;
}

.section-three-left img {
  width: 40%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.section-three-left p {
  line-height: 1.6;
  margin-bottom: 40px;
  margin-top: 20px;
}

.section-three-left hr {
  margin-bottom: 30px;
}

.section-three-left h4 {
  margin-bottom: 30px;
}

.section-three-left ul {
  list-style-type: none;
  margin-bottom: 50px;
  text-align: left;
}

.section-three-middle {
  width: 30%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  background-color: white;
}

.section-three-middle img {
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.section-three-middle p {
  line-height: 1.6;
  margin-bottom: 40px;
  margin-top: 20px;
}

.section-three-middle hr {
  margin-bottom: 30px;
}

.section-three-middle h4 {
  margin-bottom: 30px;
}

.section-three-middle ul {
  list-style-type: none;
  margin-bottom: 50px;
  text-align: left;
}


.section-three-right {
  width: 30%;
  text-align: center;
  background-color: white;
}

.section-three-right img {
  width: 37%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.section-three-right p {
  line-height: 1.6;
  margin-bottom: 40px;
  margin-top: 20px;
}

.section-three-right hr {
  margin-bottom: 30px;
}

.section-three-right h4 {
  margin-bottom: 30px;
}

.section-three-right ul {
  list-style-type: none;
  margin-bottom: 50px;
  text-align: left;
}


.section-four {
  height: 600px;
  width: 100%;
  background-color: #00adb4;
}

.table {
  width: 100%;
}

.table-top {
  text-align: center;
  color: white;
}

.table-top h2 {
  margin-top: 50px;
  margin-bottom: 30px;
  padding-top: 50px;
}

.table-top p {
  line-height: 1.6;
}

.box-table {
  width: calc(100% / 4);
  line-height: 2.1;
  padding-top: 30px;
  text-align: center;
  border-right: 1px solid white;
  color: white;
}

.box-table:last-child {
  border-right: 0px;
}

.top-row {
  border-bottom: 1px solid white;
}

.section-five {
  height: 700px;
  width: 100%;
}

.section-five-top-left {
  width: 40%;
  text-align: center;
  padding: 50px 150px;
}

.section-five-top-left h2 {
  font-size: 50px;
  margin-bottom: 20px;
}

.section-five-top-right {
  width: 60%;
  height: 200px;
  padding: 50px;
}

.section-five-top-right ul {
  text-align: center;
}

.section-five-top-right ul li {
  display: inline-block;
  line-height: 5.1;
  padding: 0 10px;
}

.section-five-top-right ul li img {
  width: 120px;
  vertical-align: middle;
}

.section-five-bottom-left {
  width: 40%;
  height: 400px;
}

.section-five-bottom-left h2 {
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 30px;
}

.section-five-bottom-left p {
  line-height: 1.6;
  margin-bottom: 30px;
  margin-top: 30px;
}

.section-five-bottom-right img {
  text-align:
}

footer {
  width: 100%;
  height: 600px;
  background-color: #2d3e50;
}

.footer-top {
  width: 100%;
  height: 400px;
  background-color: grey;
}

.list-box {
  width: 25%;
  height: 100%;
  background-color: red;
  border: 1px solid black;
}

.list-box ul li {
  list-style-type: none;
  line-height: 2;
}

.list-box ul li:first-child {
  font-weight: bold;
  margin-bottom: 20px;
}

.list-box ul li:last-child {
  margin-bottom: 50px 0;
;
}
